button {
	background: #505050;
	color: inherit;
	border: 1px solid #1C1C1C;
	padding: 0;
	font-size: 2rem;
	cursor: pointer;
	outline: inherit;
  background-color: #D4D4D2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.grid__output {
  grid-column: 1/ -1;
  background-color: #1C1C1C;
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0.5rem 0.5rem 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.grid__span-two {
  grid-column: span 2;
}

.grid__bottom-border-left {
  border-bottom-left-radius: 15px;
}

.grid__bottom-border-right {
  border-bottom-right-radius: 15px;
}

.grid__operands-orange {
  background-color: #FF9500;
  color: white
}

.grid__operands-darkgrey {
  background-color: #505050;
  color: white
}

